h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    text-align: center;
    font-size: 30px;
    color: rgb(77, 55, 198);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, rgb(134, 194, 134), rgb(173, 209, 173));
}

.product-button {
    padding: 8px 50px 8px 50px;
    font-size: 2rem;
    border: none;
    background: rgb(77, 55, 198);
    border-radius: 10px;
    color: white;
    box-shadow:0 5px 0 #006000;
    cursor: pointer;
}

.product-button:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
}

.product-button:active{
    position:relative;
    top:5px;
    box-shadow:none;
}

#product-input{
    width: 600px;
    border: 2px;
    border-style: solid;
    border-color: rgb(49, 49, 183);
    border-radius: 7px;
    max-height:150px;
    padding: 8px 2px 8px 2px;
    font-size: 30px;
    text-align: left;
}

form{
    text-align: center;
}

h3#title-list{
    margin: 30px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    display: inline-block;
    margin-top: 50px;
}

p{
    text-align: center;
    font-size: 50px;
    color: rgb(29, 113, 110);
    font-family: Arial, Helvetica, sans-serif;
}

.total-list{

    backdrop-filter: blur(8px);
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(57, 49, 6);
    width: 400px;
    height: 300px;
    margin-left: -40px;
    margin-top: 29px;
}

.products-list{
    background-image: linear-gradient(to left, rgb(56, 63, 152), rgb(113, 117, 175));
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(57, 49, 6);
    width: 1150px;
    height: 600px;
    margin-left: 200px;
}

.product-check-box{
    min-width: 30%;
    margin: 30px;
    font-size: 25px;
    color: rgb(115, 198, 195);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checked-product{

    background-color: rgb(72, 179, 72);
    padding: 8px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
}

.remove-product{

    background-color: rgb(186, 68, 68);
    padding: 7px;
    width: 30px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
    margin-left: 5px;
}

.product{
    list-style: none;
    margin: 30px;
    color: rgb(169, 203, 206);
    font-size: 25px;
    display: flex;

}

.product-unit{
    padding: 2px;
}

.fa-check, .fa-xmark{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.modal-empty-text{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
    backdrop-filter: blur(4px);
    transform: scale(1.1);
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out;

}

.model-content-empty-text{

    position: relative;
    margin-top: 300px;
    margin-left: 700px;
    width: 250px;
    height: 100px;
    background-image: linear-gradient(to left, rgb(134, 194, 134), rgb(173, 209, 173));
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
    padding: 16px 24px;
    width: 380;
    border-radius: 8px;
}

.empty-adv{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: rgb(56, 63, 152);
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
}

.empty-adv:hover{
    background-color: rgb(130, 133, 179);
}

.empty-adv:active{
    position:relative;
    top:5px;
    box-shadow:none;
}

.show-modal-empty-text{
    visibility: visible;
    transform: scale(1.0);
}

.modal-empty-text-message{
    font-size: 20px;
}



.insert-price-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
    backdrop-filter: blur(4px);
    transform: scale(1.1);
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out;

}

.insert-price{

    position: relative;
    margin-top: 300px;
    margin-left: 700px;
    width: 250px;
    height: 100px;
    background-image: linear-gradient(to left, rgb(134, 194, 134), rgb(173, 209, 173));
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
    padding: 16px 24px;
    width: 380;
    border-radius: 8px;
}

.price-span{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: rgb(56, 63, 152);
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    box-shadow: 0 0 0.2em rgb(57, 49, 6);
}

.price-span:hover{
    background-color: rgb(130, 133, 179);
}

.price-span:active{
    position:relative;
    top:5px;
    box-shadow:none;
}

#price-input{
    position: relative;
    margin: auto;
}

.price-button {
    padding: 3px 25px 3px 25px;
    font-size: 15px;
    border: none;
    background: rgb(77, 55, 198);
    border-radius: 10px;
    color: white;
    box-shadow:0 5px 0 #006000;
    cursor: pointer;
}

.price-button:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
}

.price-button:active{
    position:relative;
    top:5px;
    box-shadow:none;
}

.show-price-area{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
    backdrop-filter: blur(4px);
    transform: scale(1.0);
    visibility: visible;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-empty-text-message{
    font-size: 20px;
}